@model IEnumerable<DashboardFMP.Controllers.indicator>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.frequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.responsible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inputtype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shortname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.checklist.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.indicatorgroup.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.objective.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.language.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.frequency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.responsible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inputtype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shortname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.checklist.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.indicatorgroup.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.objective.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.language.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
